body{
  background-color: #EDEDED;
  font-family: Calibri;
}
h1,h2,h3,h4{
  font-family: Impact;
}
li a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;

}
ul {
  font-family: Impact;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3A8F33;
}

li{
  float: left;
}

li a:hover{
  background-color: #64C25C;
}

#menu{
  list-style-type: none;
}

p{
  background-color: #64C25C;
  border-style: solid;
  border-color: #3A8F33;
  border-width: 8px;
  margin: 5px;
  padding: 5px;
}

img{
  height: 185px;
  width: 185px;
  border-style: solid;
  border-color: #3A8F33;
  border-width: 5px;
  position: absolute;
  top: 615px;
  right: 13px
}
iframe{
  width: 500px;
  height: 350px;
  border-style: solid;
  border-color: #3A8F33;
  border-width: 9px;
  position: absolute;
  top: 90px;
  right: 13px;
}

#benner{
  border: 0px;
  height: 8px;
  width: 1510px;
  background-color: #64C25C;
  border-style: solid;
  border-color: #3A8F33;
  border-width: 8px;
  margin: 5px;
}
